*{
    box-sizing: border-box;
}
/* background image */
body{
    background-image: url(https://img.freepik.com/free-photo/blank-concrete-white-wall-texture-background_1017-15560.jpg?w=1060&t=st=1679288589~exp=1679289189~hmac=9b071d706c5f84bc6d75a05e4d66acceffa4fe7754b83f2efb4f9540055e97c5);
}

/* navigaton styling */
.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    margin-bottom: 57px;
}

.nav-links {
    display: flex;
    padding: 19px;
}

.navbar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: none;
    padding: 15px;
}

.nav-links a:hover{
    color:white;
}